<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Check-In</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <button class="btn btn-sm btn-outline-secondary arrow-left" [routerLink]="['/room']">
      <span data-feather="calendar"></span>
      Voltar
    </button>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card mb-12 box-shadow">
      <room-detail [room]=room></room-detail>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default" *ngIf="room.roomState != null">
      <div class="panel-body">
        <h3>Hóspedes</h3>
        <hr>
        <form #f="ngForm" (ngSubmit)="submit(f)" novalidate>
          <div class="form-row">
            <div class="col-3">
              <input type="text" class="form-control" placeholder="Cpf" name="cpf" [textMask]="{mask: maskCpf}" (focusout)="focusOutSearchGuest()"
                [(ngModel)]="guest.cpf" required>
            </div>
            <div class="col-6">
              <input type="text" class="form-control" placeholder="Nome" name="nome" [(ngModel)]="guest.nome" required>
            </div>
            <div class="col-3">
              <input type="text" class="form-control" placeholder="Celular" name="fone" [textMask]="{mask: maskPhone}" [(ngModel)]="guest.fone"
                required>
            </div>


          </div>
          <div class="form-row">
            <div class="col-1">
              <input type="text" class="form-control" placeholder="UF" name="uf" [(ngModel)]="guest.endereco.uf" required>
            </div>
            <div class="col-2">
              <input type="text" class="form-control" placeholder="Cidade" name="cidade" [(ngModel)]="guest.endereco.cidade" required>
            </div>
            <div class="col-1">
              <input type="text" class="form-control" placeholder="Prefixo" name="prefixo" [(ngModel)]="guest.endereco.prefixo" required>
            </div>
            <div class="col-3">
              <input type="text" class="form-control" placeholder="Logradouro" name="logradouro" [(ngModel)]="guest.endereco.logradouro"
                required>
            </div>
            <div class="col-1">
              <input type="text" class="form-control" placeholder="Numero" name="numero" [(ngModel)]="guest.endereco.numero" required>
            </div>
            <div class="col-2">
              <input type="text" class="form-control" placeholder="Bairro" name="bairro" [(ngModel)]="guest.endereco.bairro" required>
            </div>
            <div class="col-2">
              <input type="text" class="form-control" placeholder="CEP" name="cep" [textMask]="{mask: maskCep}" [(ngModel)]="guest.endereco.cep"
                required>
            </div>

          </div>
          <button type="button" class="btn btn-primary mb-2" (click)="addGuest()" [disabled]="!f.valid">Adicionar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="guests.length > 0">
  <div class="col-lg-12">
    <div class="panel panel-default" *ngIf="room.roomState != null">

      <div class="panel-body">
        <h3>Hóspedes adicionados</h3>
        <hr>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>
                  Cpf
                </th>
                <th>
                  Nome
                </th>
                <th>
                  Fone
                </th>
                <th>
                  UF
                </th>
                <th>
                  Cidade
                </th>
                <th>
                  Endereço
                </th>
                <th>
                  CEP
                </th>
                <th>

                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let g of guests">
                <td>{{g.cpf}}</td>
                <td>{{g.nome}}</td>
                <td>{{g.fone}}</td>
                <td>{{g.endereco.uf}}</td>
                <td>{{g.endereco.cidade}}</td>
                <td>{{g.endereco.prefixo}} {{g.endereco.logradouro}} - {{g.endereco.numero}}</td>
                <td>{{g.endereco.cep}}</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default" *ngIf="room.roomState != null">
      <div class="panel-body">
        <h3>Dados da hospedagem</h3>
        <hr>
        <form #b="ngForm" (ngSubmit)="submit(b)" novalidate>
            <div class="form-row">
                <div class="form-group  col-md-6">
                  <label for="guestNumber">Número de hóspedes</label>
                  <input type="text" class="form-control" id="guestNumber" name="guestNumber" [(ngModel)]="book.guestNumber" required #guestNumber="ngModel">
                  <div class="alert alert-danger" *ngIf="guestNumber.touched && !guestNumber.valid">Por favor preencha esta campo.</div>
                </div>
                <div class="form-group  col-md-6">
                  <label for="roomRate">Preço do quarto</label>
                  <input type="text" class="form-control" id="roomRate" name="roomRate" [(ngModel)]="book.roomRate" required #roomRate="ngModel">
                  <div class="alert alert-danger" *ngIf="roomRate.touched && !roomRate.valid">Por favor preencha esta campo.</div>
                </div>
              </div>
          <div class="form-row">           
            <div class="form-group  col-md-6">
              <label for="checkOut">Check-Out</label>
              <input type="text" class="form-control" id="checkOut" name="checkOut" [(ngModel)]="book.checkOut" [textMask]="{mask: maskDateTime}"
                #checkOut="ngModel" ng-minlength="16">             
              <div class="alert alert-danger" *ngIf="(checkOut.viewModel?.indexOf('_') != -1 &&  book.checkOut !=   '')">Por favor preencha corretamente.</div>
            </div>
          </div>
       
          <button class="btn btn-primary" [disabled]="(!b.valid || guests?.length <= 0)
                                                    ||(checkOut.viewModel?.indexOf('_') != -1 && book.checkOut !=   '')">Salvar</button>
        </form>
      </div>
    </div>
  </div>
</div>
