<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Detalhes da estadia</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <button class="btn btn btn-outline-primary" (click)="newDayRoom()">
      <span data-feather="calendar"></span>
      Nova diária
    </button>
    <button class="btn btn btn-outline-info" [routerLink]="['/room']">
      <span data-feather="calendar"></span>
      Pagamento
    </button>
    <button class="btn btn btn-outline-success" [routerLink]="['/room']">
      <span data-feather="calendar"></span>
      Check-Out
    </button>
    <button class="btn btn btn-outline-secondary" [routerLink]="['/room']">
      <span data-feather="calendar"></span>
      Voltar
    </button>
  </div>
</div>

<div class="row" *ngIf="book.dayRooms">
  <div class="col-lg-12">
    <dayroom-detail [book]=book></dayroom-detail>
  </div>
</div>
  
<!-- <div class="row" *ngIf="book.room">
  <div class="col-lg-12">
    <div class="card mb-12 box-shadow" *ngIf="!flRoomEdit">
      <room-detail [room]=book.room [flEdit]=true (showRoomEdit)="enableDisableRoomEdit($event)"></room-detail>
    </div>

    <div class="card mb-12 box-shadow" *ngIf="flRoomEdit">
      <room-edit (roomEdit)="hideRoomEdit($event)"></room-edit>
    </div>
  </div>
</div> -->
<hr>
<div class="row" *ngIf="book.guests">
  <div class="col-lg-12">
    <guest-list [guests]=book.guests></guest-list>
  </div>
</div>


